<div class="fav-outer">
<div class="remove" *ngIf="climate.length != 0">
    <span> {{climate.length}} {{climate.length == 1 ?'City':'Cities'}} added as Favourite</span>
    <span (click)="openPrompt()">Remove all</span>
</div>


<div class="noitem" *ngIf="climate.length === 0">
    <i class="fa fa-box-open icon-large"></i> 
    <p>No Favourites Added</p>
</div>


<div class="cities" *ngFor="let city of climate let i=index"  >
    
    <div class="loc-name">{{city.name}} <span>{{city.region}}</span></div>
    <div class="items">
         <img [src]="city.icon"/>
        <span class="temp"> {{city.temp_c}} </span> &#176;C <span>{{city.text}}</span>
    </div>
        <div> <img  class="heart-icon" src="\images\icon_favourite_Active.png" (click)="handleclick(i)" alt="Fav"></div>
       
</div>



</div>

    <app-popup *ngIf="showPrompt" (response) ="handleResponse($event)"></app-popup>
