/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
    
    
}

body{
    background-image: linear-gradient(to right, rgb(83, 83, 236), rgba(238, 130, 238, 1));
    /* background: linear-gradient(
    to top left, 
    #9568D1,   
    #d665d6    
  ); */
    /* background-image: url("/images/Backgroundimage.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 95vh; */
    padding: 1rem 3rem; 
    height: 100%;
    
  }



  @media (max-width: 700px) {
    body{
    padding: 1rem 3rem;
    
    }
}

@media (max-width: 500px) {
    body{
    padding: 0.5rem 1.5rem;
    
    }
}
@media (max-width: 400px) {
  body{
    padding: 0.5rem 0rem;
    
    }
}